{% extends "base.html" %}
    {% block page_content %}
    <h1 align="middle">Интерьерные куколки</h1>
    <div class="container text-center">
        <div class="row g-2">
            <div class="col-5">
                <a href="school"
                   style="color: black"><img src="media/models/school/main.jpg" height="450" width="250"></a>
                <br>
                <a href="school" style="color: black">Школьная пора</a>
            </div>
            <div class="col-5">
                <a href="longleg"
                   style="color: black"><img src="media/models/longleg/longleg.jpg"
                                                                     height="450" width="250"></a>
                <br>
                <a href="longleg" style="color: black">Длинноножка</a>
            </div>
            <div class="col-5">
                <a href="angel"
                   style="color: black"><img src="media/models/angel/angel.jpg" height="450" width="250"></a>
                <br>
                <a href="angel" style="color: black">Ангелочек</a>
            </div>
            <div class="col-5">
                <a href="cool_girl"
                   style="color: black"><img src="media/models/cool_girl/cool_girl.jpg" height="450" width="250"></a>
                <br>
                <a href="cool_girl" style="color: black">Малышка</a>
            </div>
            <div class="col-5">
                <a href="butterfly"
                   style="color: black"><img src="media/models/butterfly/butterfly.jpg" height="450" width="250"></a>
                <br>
                <a href="butterfly" style="color: black">Бабочка</a>
            </div>
        </div>
    </div>
    {% endblock %}